@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');  /* Me importe las fuentes */

/* Experimento con custom properties */
:root {
    --title-color: #574747;
    --text-color: #f0f0f0e3;
    --bg-color-200: #0c0b0b;
    --bg-color-300: #5e5c5c;
    --bg-color-500: #b9935a;
    --bg-color-400:#002147;
    --bg-color-600:#C5A059;
    --bg-color-800:#FDFDF0;
    --color-oxford-blue: #002147;
    --color-brushed-gold: #C5A059;
    --color-cream-white: #FDFDF0;


    --contenedor-sz: min(64rem, 100%);


    --txt-heading: 'Bebas Neue', sans-serif;
    --txt-body: 'Roboto', sans-serif;
    
}




/* Estoy resetenado los estilos por defecto  que vienen del navegador  y ademas le estoy dando sacando la suma de los px con el border-box */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.sr-only {
    position: absolute;
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    top: -4000px;
    left:-4700px;

}

body{
    background-image: url(../img/fondo.jpg);
}

h1 {
    font-family: var(--txt-heading);
    color: #F4F6F7;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4); /* Sombra para que se lea mejor */
}

p {
    font-family: var(--txt-body);
    color: #F4F6F7;
    font-size: 1.2rem;
}


/* Menu original*/
header {
    background-color: #1B2631;
    position: sticky;
    top: 0;
    z-index: 998;
}

.contenedor-header{
    width: var(--contenedor-sz);
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    background-color: #1B2631;
}

.contenedor-header .controles{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.contenedor-header ul{
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.contenedor-header ul li a {
    text-decoration: none;
    color: #F4F6F7;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 1.25rem;
}

.contenedor-header ul li a:hover {
    color: var(--bg-color-500);
}

.contenedor-header img {
    width: 50px;
    height: 50px;
}

/* Hice una barra de navegacion -- La tengo que mejorar -- prodria tener los links al centro y que sea un menu hamburguesa */

.menu-btn {
    background: none;
    border: none;
    padding: 0.5rem;
    width: 3rem;
    aspect-ratio: 1;
    background-image: url('../img/menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 999;
}

.primary-navigation{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1B2631;
    width: 25vw;
    transform: translateX(+100%) translateY(0%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.primary-navigation ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


.primary-navigation[data-visible="true"] {
    transform: translateX(0%) translateY(0%);
}


/* Favoritos*/

.fav-btn{
    position: relative;
    background: none;
    border: none;
    width: 2rem;
    aspect-ratio: 1/1;
    background-image: url(../img/fav_reposo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fav-btn:hover {
    background-image: url(../img/fav_active.svg);
    cursor: pointer;
}

.fav-count {
    position: absolute;
    font-size: 0.rem;
    right: -1rem;
    top: -1rem;
    width: 1.7rem;
    aspect-ratio: 1;
    padding: 0.4rem;
    background-color: #C5A059;
    border-radius: 100%;
    display: none;
}

.fav-count.active {
    display: block;
}

.primary-fav {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 75vh;
    background-color: #1B2631;
    z-index: 1000;
    overflow-y: scroll;
    padding: 1rem;
    transform: translateX(100%) translateY(0%);
    transition: all 0.3s ease-in-out;
}

.primary-fav[data-visible="true"] {
    transform: translateX(0%) translateY(0%);
    display: block;
}

/* Favoritos vista de las cards */
.mis-favoritos h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

.mis-favoritos h1 button {
    background: none;
    border: none;
    width: 2rem;
    aspect-ratio: 1;
    background-image: url(../img/menu_close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mis-favoritos h1 button:hover {
    background-image: url('../img/close-fill-hover.svg');
    cursor: pointer;
}

.mis-favoritos ul {
    display: flex;
    flex-direction: column;
}

.mis-favoritos img {
    width: 4rem;
}

.mis-favoritos li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.mis-favoritos li:hover {
    background-color:#C5A059;
}

.btn-fav-remove {
    position: relative;
    background: none;
    border: none;
    width: 1.5rem;
    aspect-ratio: 1/1;
    background-image: url('../img/menu_close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn-fav-remove:hover {
    background-image: url('../img/close-fill-hover.svg');
    cursor: pointer;
}

/* Carrito */

.cart-btn {
    position: relative;
    background: none;
    border: none;
    width: 2rem;
    aspect-ratio: 1/1;
    background-image: url(../img/carrito_reposo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cart-btn-cerrar{
    position: relative;
    background: none;
    border: none;
    width: 1.5rem;
    aspect-ratio: 1/1;
    background-image: url('../img/menu_close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cart-btn:hover {
    background-image: url(../img/carrito_active.svg);
    cursor: pointer;
}

.cart-count {
    position: absolute;
    font-size: 0.rem;
    right: -1rem;
    top: -1rem;
    width: 1.7rem;
    aspect-ratio: 1;
    padding: 0.4rem;
    background-color: #C5A059;
    border-radius: 100%;
    display: none;
}

.cart-count.active {
    display: block;
}

/* Carrito  vista de las cards*/
.primary-cart {
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 35vw;
    background-color: #1B2631;
    z-index: 1000;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    transform: translateX(+100%) translateY(0%);
    transition: transform 350ms ease-out;
    position: fixed;
}
/* Visible */
.primary-cart[data-visible="true"] {
    transform: translateX(0%) translateY(0%);
}

.mi-carrito h1 {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    display: flex;
}

.mi-carrito h1 button {
    border: none;
    width: 2rem;
    aspect-ratio: 1;
    background-image: url('../img/menu_close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.mi-carrito h1 button:hover {
    cursor: pointer;
    background-image: url('../img/menu_close_hover.svg');
}

.mi-carrito ul {
    flex-direction: column;
    display: flex;
}

.mi-carrito img {
    width: 4rem;
    height: 4rem;
}

.mi-carrito h2 {
    color: var(--accent-color-400);
}

.mi-carrito .total {
    text-align: right;
}

.mi-carrito .checkout {
    border: none;
    border-radius: 1rem;
    padding: 0.8rem 1rem;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    color: #0c0b0b;
    background-color: var(--color-brushed-gold);
}

.mi-carrito .checkout:hover {
    color: var(--bg-color-200);
    cursor: pointer;
    background-color: var(--bg-color-800);
}

.mi-carrito li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border-bottom: 0.1rem solid var(--color-brushed-gold);
}

.mi-carrito li:hover {
    background-color: var(--bg-color-200);
}

/* Controles */
.cart-controles {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

.menos,
.mas,
.eliminar {
    border: none;
    width: 1.5rem;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

.menos {
    background-image: url('../img/restar.svg');
}

.menos:hover {
    background-image: url('../img/restar_hover.svg');
    cursor: pointer;
}

.mas {
    background-image: url('../img/sumar.svg');
}

.mas:hover {
    background-image: url('../img/sumar_hover.svg');
    cursor: pointer;
}

.eliminar {
    position: absolute;
    width: 1rem;
    top: -2.7rem;
    right: -0.4rem;
    background-image: url('../img/eliminar.svg');
}

.eliminar:hover {
    cursor: pointer;
    background-image: url('../img/eliminar_hover.svg');
}



























/*
Esto quedo de la primera pagina que se codeo

.barra_navegacion {
    background-color: #1B2631;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.barra_navegacion ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.barra_navegacion ul li a {
    text-decoration: none;
    color: #F4F6F7;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 1.25rem;
}

.barra_navegacion ul li a:hover {
    color: var(--bg-color-500);
}

.barra_navegacion img {
    width: 50px;
    height: 50px;
}

*/


/*Sección de contenido principal o bienvenida */

.bienvenida {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
}

.bienvenida-texto h1 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
}

.bienvenida-texto p {
    font-size: 1.25rem;
    color: #F4F6F7;
}

.bienvenida img {
    width: 45%;        
    height: auto;
    margin-top: 2.7rem;
    border-radius: 0.5rem;      
}


/*Sección de contenido principal o bienvenida */


main h2 {
    font-family: var(--txt-heading);
    color: #F4F6F7;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    font-size: 3.5rem;
    text-align: center;
    margin: 2rem 0;
}


.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem,1fr)) ;
    grid-template-rows: auto ;
    gap: 2rem;
    padding: 0 2rem 2rem;
}

/*Creo que las cards me rompen por el tamaño de las imagenes */
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    background-color: #FEF9E7;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0,0.4);
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s ease;
    
}

.card:hover {
    transform: translateY(-5px);
}

.card img{
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
}

.card h2{
    font-family: var(--txt-body);
    font-size: 1.5rem;
    color: #0c0b0b
}

.card p{
    color: #2C3E50;
}

.btn {
    margin-top: auto;
    padding: 1rem;
}

.btn:hover {
    background-color:#C5A059;
    cursor: pointer;
}

.btn.active {
    background-color:#b9935a;
    color: #F4F6F7;
}
/* Comienzo del Footer por ahora se agrego un footer basico. Una mejora seria hacer columnas con grid con distintas secciones 

footer ul{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    background-color: #1B2631;
    gap: 0.5rem;
    padding: 0.9rem 0;
}

footer ul li {
    list-style: none;
    
}

footer ul li a {
    text-decoration: none;
    color: #F4F6F7;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 1.25rem;
    
}

footer ul li a:hover {
    color: var(--bg-color-500);
}


*/

footer {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-items: center;
    background-color: #1B2631;
    color: #F4F6F7;
    padding: 1rem 1rem;
}

footer ul {
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    color: #F4F6F7;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 1.25rem;
    
}

footer ul li a:hover {
    color: var(--bg-color-500);
}

footer h2 {
    font-family: var(--txt-heading);
    color: #F4F6F7;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Pagina Nosotros */

.nosotros {
    min-height: 85vh;  
}

.contenedor_nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.contenedor_nosotros img{
    width: 45%;
    max-width: 800px;
    height: auto;
    border-radius: 4px;
}

.nosotros_texto p{
    margin-bottom: 1.5rem
}


/*Estilos para la página de producto */

.producto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    gap:1rem;
    border-color: #b9935a;
    border-style: solid;
    width: fit-content;
    max-width: 50rem ;
    margin: 2rem auto;
    border: 3px solid #b9935a;
    border-radius: 10px;
}

.producto-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.producto-info button {
    width: fit-content;
    padding: 0.5rem 2rem;   
    cursor: pointer;
}

.separador {
    border: 0;
    border-top: 1px solid #b9935a; 
    width: 75%; 
    margin: 4rem auto;  
}

.descripcion_producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 0 2rem; 
    max-width: 850px;
    margin: 0 auto;
}

.descripcion_producto h2{
    font-size: 2rem;
    font-weight: 700;
    color: #0c0b0b;
}

.especificaciones_producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 0 2rem; 
    max-width: 850px;
    margin: 0 auto;
}

.especificaciones_producto ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 4rem;
}

.especificaciones_producto h2{
    font-size: 2rem;
    font-weight: 700;
    color: #0c0b0b;
}

.especificaciones_producto ul li{
    font-size: 1rem;
    font-family: var(--txt-body);
}


/*Icono whatsapp */

a.contacto:link,
a.contacto:visited {
    background-image: url('../img/wp_2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    aspect-ratio: 1;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
}

a.contacto:hover,
a :active {
    background-color: transparent;
    background-image: url('../img/wp_1.svg');
    
    
}

.sr-only {
    position: absolute;
    top: -1000px;
    left: -1000px;
    display: block;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* Estilos para hacer la pagina responsive */

@media (max-width: 782px) {
    .bienvenida {
        flex-direction: column;
    }

    .bienvenida img {
        width: 100%;
        max-width: 600px; 
        margin: 0 auto;
        display: block; 
    }
}

@media (max-width: 782px) {
    .bienvenida-texto h1 {
        font-size: 3rem; 
        text-align: center;
    }
}

@media (max-width: 780px) {
    .contenedor_nosotros {
        flex-direction: column;
    }

    .contenedor_nosotros img {
        width: 100%;
    }
    a.contacto:link,
    a.contacto:visited {
        height: 2rem;
        width: 2rem;
        bottom: 1rem;
        right: 1rem;
    }
}

@media (max-width: 720px) {
    .producto {
        flex-direction: column;
        max-width: 100%;
    }
}

@media screen and (min-width:768px) {

.contenedor-header {
    flex-direction: row;
}  
}