@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');  /* Me importe las fuentes */

/* Experimento con custom properties */
:root {
    --title-color: #574747;
    --text-color: #f0f0f0e3;
    --bg-color-200: #0c0b0b;
    --bg-color-300: #5e5c5c;
    --bg-color-500: #b9935a;

    --txt-heading: 'Bebas Neue', sans-serif;
    --txt-body: 'Roboto', sans-serif;
}




/* Estoy resetenado los estilos por defecto  que vienen del navegador  y ademas le estoy dando sacando la suma de los px con el border-box */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/fondo.jpg);
}

h1 {
    font-family: var(--txt-heading);
    color: #F4F6F7;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4); /* Sombra para que se lea mejor */
}

p {
    font-family: var(--txt-body);
    color: #F4F6F7;
    font-size: 1.2rem;
}

/* Hice una barra de navegacion -- La tengo que mejorar -- prodria tener los links al centro y que sea un menu hamburguesa */

.contenedor-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #1B2631;
}

.contenedor-header ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.contenedor-header ul li a {
    text-decoration: none;
    color: #F4F6F7;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 1.25rem;
}

.contenedor-header ul li a:hover {
    color: var(--bg-color-500);
}

.contenedor-header img {
    width: 50px;
    height: 50px;
}


/*
Esto quedo de la primera pagina que se codeo

.barra_navegacion {
    background-color: #1B2631;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.barra_navegacion ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.barra_navegacion ul li a {
    text-decoration: none;
    color: #F4F6F7;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 1.25rem;
}

.barra_navegacion ul li a:hover {
    color: var(--bg-color-500);
}

.barra_navegacion img {
    width: 50px;
    height: 50px;
}

*/


/*Sección de contenido principal o bienvenida */

.bienvenida {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.bienvenida-texto h1 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
}

.bienvenida-texto p {
    font-size: 1.25rem;
    color: #F4F6F7;
}

.bienvenida img {
    width: 50%;        
    height: auto;
    margin-top: 2.7rem;      

}


/*Sección de contenido principal o bienvenida */


main h2 {
    font-family: var(--txt-heading);
    color: #F4F6F7;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    font-size: 3.5rem;
    text-align: center;
    margin: 2rem 0;
}


.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem,1fr)) ;
    grid-template-rows: auto ;
    gap: 2rem;
    padding: 0 2rem 2rem;
}

/*Creo que las cards me rompen por el tamaño de las imagenes */
.card{
    background-color: #FEF9E7;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0,0.4);
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s ease;
    
}

.card:hover {
    transform: translateY(-5px);
}

.card img{
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
}

.card h2{
    font-family: var(--txt-body);
    font-size: 1.5rem;
    color: #0c0b0b
}

.card p{
    color: #2C3E50;
}

.card button {
    margin-top: auto;
}

/* Comienzo del Footer por ahora se agrego un footer basico. Una mejora seria hacer columnas con grid con distintas secciones */

footer ul{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    background-color: #1B2631;
    gap: 0.5rem;
    padding: 0.9rem 0;
}

footer ul li {
    list-style: none;
    
}

footer ul li a {
    text-decoration: none;
    color: #F4F6F7;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 1.25rem;
    
}

footer ul li a:hover {
    color: var(--bg-color-500);
}


/* Pagina Nosotros */

.contenedor_nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.contenedor_nosotros img{
    width: 50%;        
    height: auto;
    border-radius: 4px;
}

.nosotros_texto p{
    margin-bottom: 1.5rem
}


/*Estilos para la página de producto */

.producto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    gap:1rem;
    border-color: #b9935a;
    border-style: solid;
    width: fit-content;
    max-width: 50rem ;
    margin: 2rem auto;
    border: 3px solid #b9935a;
    border-radius: 10px;
}

.producto-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.producto-info button {
    width: fit-content;
    padding: 0.5rem 2rem;   
    cursor: pointer;
}

.separador {
    border: 0;
    border-top: 1px solid #b9935a; 
    width: 75%; 
    margin: 4rem auto;  
}

.descripcion_producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 0 2rem; 
    max-width: 850px;
    margin: 0 auto;
    text-align: center; 
}

.descripcion_producto h2{
    font-size: 2rem;
    font-weight: 700;
    color: #0c0b0b;
}

.especificaciones_producto{
display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 0 2rem; 
    max-width: 850px;
    margin: 0 auto;
}

.especificaciones_producto ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 4rem;
}

.especificaciones_producto h2{
    font-size: 2rem;
    font-weight: 700;
    color: #0c0b0b;
}

.especificaciones_producto ul li{
    font-size: 1rem;
    font-family: var(--txt-body);
}


@media (max-width: 782px) {
    .bienvenida {
        flex-direction: column;
    }

    .bienvenida img {
        width: 100%;
        max-width: 600px; 
        margin: 0 auto;
        display: block; 
    }
}

@media (max-width: 782px) {
    .bienvenida-texto h1 {
        font-size: 3rem; 
        text-align: center;
    }
}

